@import "@spectrum-web-components/styles/typography.css";
html * {
    box-sizing: border-box;
}

.container {
    --panel-width: 256px;
    --preview-height: 280px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    padding: 0 24px;

    display: flex;
    flex-direction: column;

    -webkit-user-select: none;
    user-select: none;
}

.preview-section, .settings-section, .button-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.preview-section {
    z-index: 9999;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
    flex: 0 0 var(--preview-height);
    height: var(--preview-height);
    position: fixed;
    left: 0; right: 0;
    top: 8px;
    padding: 0;
    /*padding: 24px;
    padding-top: 0;*/
    gap: 0;
}

.preview {
    /*border: 1px solid #e6e6e6;*/
    display: flex;
    justify-content: center;
    /*border-radius: 8px;*/
    transition: 250ms ease-in-out filter;
    padding-top:12px;
}

.settings-section {
    flex: 1 1 auto;
    margin-top: var(--preview-height);
    padding-top: 24px;
}

.bottom-section {
    flex: 0 0 80px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #e6e6e6
}
.spacer {
    flex: 1 1 auto;
}

.bottom-spacer {
    height: 57px;
    flex: 0 0 57px;
}

sp-textfield {
    width: 100%;
    resize: none;
}

canvas {
    width: var(--panel-width);
    height: var(--panel-width);
}

sp-accordion {
    margin: 0 -32px;
    --mod-accordion-item-header-font-size: 11pt;
    --mod-accordion-item-header-font-weight: normal;
}
sp-accordion-item {
    border: 0;
}

sp-number-field {
    --spectrum-stepper-width: 110px
}

sp-field-label.fixed-width {
    width: 100px;
}

.wide-field {
    display: flex;
    flex-direction: row;
}

.wide-field sp-field-label {
    flex: 1 1 auto;
}

.opacity-checkerboard {
    --spectrum-opacity-checkerboard-dark: var( --spectrum-opacity-checkerboard-square-dark
    );
    --spectrum-opacity-checkerboard-light: var( --spectrum-opacity-checkerboard-square-light
    );
    --spectrum-opacity-checkerboard-size: var( --spectrum-opacity-checkerboard-square-size
    );
    --spectrum-opacity-checkerboard-position: left top;
    background: repeating-conic-gradient(var( --mod-opacity-checkerboard-light, var(--spectrum-opacity-checkerboard-light)
    ) 0 25%, var( --mod-opacity-checkerboard-dark, var(--spectrum-opacity-checkerboard-dark)
    ) 0 50%) var( --mod-opacity-checkerboard-position, var(--spectrum-opacity-checkerboard-position)
    ) /calc(var( --mod-opacity-checkerboard-size, var(--spectrum-opacity-checkerboard-size)
    ) * 2) calc(var( --mod-opacity-checkerboard-size, var(--spectrum-opacity-checkerboard-size)
    ) * 2);
    block-size: 100%;
    inline-size: 100%;
}
